@page
@model BikeRenter.Pages.Payment.CreateModel
@{
}

<br>
<h2>New Payment</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<form method="POST">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">CustomerID</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="CustomerID" value="@Model.paymentInfo.CustomerID">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">RentalID</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="RentalID" value="@Model.paymentInfo.RentalID">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Method</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Method" value="@Model.paymentInfo.Method">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Amount</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Amount" value="@Model.paymentInfo.Amount">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Time</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Time" value="@Model.paymentInfo.Time">
        </div>
    </div>

    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.successMessage</strong>
                    <button type="button" classn="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>

        </div>

    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid ">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/Payment/Index" role="button">Cancel</a>
        </div>
    </div>
</form>